/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Corpo */
body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #090909; /* Cor inicial */
  color: #ecebe7;
  scroll-behavior: smooth;
  /* Aplica a animação: 8 segundos, linear, alternada, infinita */
  animation: pulso-suave 8s linear infinite alternate; 
}

/* Animação de Pulsação Discreta */
@keyframes pulso-suave {
  0% { background-color: #090909; }
  50% { background-color: #0c0c0c; } /* Pulsação sutil, quase imperceptível */
  100% { background-color: #090909; }
}

/* Cabeçalho fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.logo:hover {
  transform: scale(1.15); /* Crescer */
  color: #ffffff; /* Muda de cor pra dar destaque */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

nav a:hover {
  transform: scale(1.15); /* Cresce dnv */
  color: #ffffff;
}

/* Seção inicial (hero) */
.hero {
  height: 100vh; /* Tela cheia */
  background: #090909;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  color: #ecebe7
}

.hero h2 {
  font-size: 1.5rem;
  color: #ecebe7;
}

/* Seções inferiores */
section {
  padding: 100px 20px;
  min-height: 100vh;
  background-color: #ecebe7;
  color: #090909;
}

#sobre {
  background-color: #ecebe7;
}

#projetos {
  background-color: #ecebe7;
}

/* Rodapé */
footer {
  background: #090909;
  color: #ecebe7;
  text-align: center;
  padding: 20px;
}

.intro .portfolio {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #bcbcbc;
  animation-delay: 0.5s;
}

.intro .vinicius {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 5rem;
  font-weight: 700; /* só esse em bold */
  letter-spacing: 8px;
  color: #ecebe7;
  animation-delay: 1s;
}

.intro .morais {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
  color: #d4d4d4;
  animation-delay: 1.8s;
}

