/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #090909;
  color: #ecebe7;
  scroll-behavior: smooth;
}

/* Cabeçalho fixo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.logo:hover {
  transform: scale(1.15); /* Crescer */
  color: #ffffff; /* Muda de cor pra dar destaque */
}


nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #ecebe7;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #dbdbd8;
  font-weight: bold
}

/* Seção inicial (hero) */
.hero {
  height: 100vh; /* Tela cheia */
  background: #090909;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  color: #ecebe7
}

.hero h2 {
  font-size: 1.5rem;
  color: #ecebe7;
}

/* Seções inferiores */
section {
  padding: 100px 20px;
  min-height: 100vh;
  background-color: #ecebe7;
  color: #090909;
}

#sobre {
  background-color: #ecebe7;
}

#projetos {
  background-color: #ecebe7;
}

/* Rodapé */
footer {
  background: #090909;
  color: #ecebe7;
  text-align: center;
  padding: 20px;
}
